*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.bold1:hover {
    color: #3B413C;
    font-weight: bold; }
.logo{
    height: 65px;
}

.logo:hover {
    transform: scale(1.05);
    border: #000704 solid 1px;
}


.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 1px;
    margin: 5px;
}
.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #a2e3c4 solid 1px;
    margin: 5px;
}
.section3{
    border: solid 1px #a2e3c4;
    margin: 5px;
}


.boton1{
    margin: 5px;
    border: #a2e3c4 solid 1px;

}
.boton1:hover{
    transform: scale(1.05);
    border: #000000 solid 1px;
}

.div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}
.div2, .div3, .div4, .div5{
    display: flex;
    flex-direction: row;

}
.div6{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    padding: 0 10% 0 10%;

}
.div7{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.numeros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    padding: 10px;
}

/*.container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header header header header header"
      "section7 section1 section1 section1 section6 section8"
      "section7 section2 section2 section2 section6 section8"
      "section7 section3 section3 section3 section6 section8"
      "section7 section4 section4 section4 section6 section8"
      "section7 section5 section5 section5 section6 section8"
      "footer footer footer footer footer footer"; 
  }
  .section5 { grid-area: section5; }
  .section3 { grid-area: section3; }
  .section4 { grid-area: section4; }
  .section2 { grid-area: section2; }
  .section1 { grid-area: section1; }
  .section6 { grid-area: section6; }
  .footer { grid-area: footer; }
  .header { grid-area: header; }
  .section7 { grid-area: section7; }
  .section8 { grid-area: section8; }*/